{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="archive__item-content">
      <h2 class="archive__item-title" itemprop="headline">
        {{ title }}
      </h2>
    </div>
    {% if post.graph %}
      <div class="archive__item-graph">
        <img src="{{ post.graph }}" alt="Graph for {{ title }}">
        <p>Graph path: {{ post.graph }}</p> <!-- Debugging line -->
      </div>
    {% else %}
      <div class="archive__item-graph">
        <p>No graph available for {{ title }}</p>
      </div>
    {% endif %}
    <!-- Debugging output for all attributes -->
    <pre>{{ post | jsonify }}</pre>
  </article>
</div>
